<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodcommentmp">
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodCommentMp">
        <activity
            android:name=".Activitys.CommentAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.ModifyUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.CommentModifyActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.RestaurantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.WelcomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.BrowseRestaurantOverViewActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminLabelInfoAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminFoodInfoAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminRestaurantInfoAddActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminLabelInfoUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminFoodInfoUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminRestaurantInfoUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.AdminLoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>